         body {
            background: #aba8ff;
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        
        .profile {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 300px;
            padding: 20px;
            text-align: center;
        }
        .profile img {
            border-radius: 50%;
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
        }
        .profile h1 {
            color: #000;
            margin: 10px 0;
        }
        .profile h2 {
            color: #cc0000;
            margin-bottom: 20px;
        }
        .profile a {
            display: block;
            background: #ffcc00;
            color: #cc0099;
            text-decoration: none;
            padding: 10px;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        .profile a:hover {
            background: #ff0066;
        }